.login-container {
  background: linear-gradient(to bottom, #ffffff, #f2f2f2);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial", sans-serif;
}

.login-form {
  background-color: white;
  padding: 40px 50px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 400px;
}

.login-title {
  margin-bottom: 30px;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  font-size: 1.1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  transition: background 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}
