.form-transaccion {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 25px;
}

.form-transaccion input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #555;
  background-color: #222;
  color: white;
  font-size: 1rem;
  width: 180px;
}

.form-transaccion button {
  background-color: gold;
  color: black;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}

.form-transaccion button:hover {
  background-color: #ffd700;
  transform: scale(1.05);
}
